
@{
    ViewBag.Title = "Modelo cúbico";
}

<h2>Modelo cúbico</h2>

<div id="FormulaDisplayDiv"></div>
<input id="number" type="number" step="0.01"  onchange="updateFromNumber();" />
<input id="number1" type="number" step="0.01" onchange="updateFromNumber();" />
<input id="number2" type="number" step="0.01"  onchange="updateFromNumber();" />
<input id="number3" type="number" step="0.01" onchange="updateFromNumber();" />

<div class="row" onload="updateGraph()">
    <div class="col-xs-12">
        <div id="sliderBox" class="jxgbox" style="width:100%;height:100px;"></div>
        <label for="startTime">Start time: <input name="startTime" type="number" value="0" /></label>
        <label for="endTime">End time: <input name="endTime" type="number" value="9" /></label>

        <button id="start" onclick="Start()">Start</button>
    </div>

    <div class="col-xs-6">
        <div id='VelocityBoard' class='jxgbox' style='width:100%; padding-bottom:100%'></div>
    </div>
    <div class="col-xs-6">
        <div id='PositionBoard' class='jxgbox' style='width:100%; padding-bottom:100%'></div>
    </div>
</div>

<script type='text/javascript'>

    var currentTime = 0;
    var interval;
    var timeInterval = 50;
    var guidingLine;
    var maxX = 9, minX = -1, maxY = 5, minY = -5;
    var startButton = document.getElementById("start");
    var numberField = document.getElementById("number");
    var numberField1 = document.getElementById("number1");
    var numberField2= document.getElementById("number2");
    var numberField3 = document.getElementById("number3");



    var firstUpdate = true;

    function updateFromNumber() {
        if (firstUpdate) {
            firstUpdate = false;
           // 
            
           
        }
    }

    function Start() {
        startButton.disabled = true;
        currentTime = parseInt(document.getElementsByName("startTime")[0].value);
        interval = window.setInterval(Step, timeInterval);
        guidingLine = quadraticBoard.create('line', [[currentTime, minY], [currentTime, maxY]], { straightFirst: false, straightLast: false, strokeWidth: 2 })
    }

    function Step() {
        currentTime += timeInterval / 1000;
        if (currentTime >= parseInt(document.getElementsByName("endTime")[0].value)) {
            clearInterval(interval);
            quadraticBoard.removeObject(guidingLine);
            startButton.disabled = false;
        }
        else {
            value = quadraticFunction.evaluate(currentTime);
            slider.setValue(value);
            sliderBox.update();

            quadraticBoard.removeObject(guidingLine);
            guidingLine = quadraticBoard.create('line', [[currentTime, minY], [currentTime, maxY]], { straightFirst: false, straightLast: false, strokeWidth: 2 })
        }
    }

    function SnapToGrid(x, y) {
        return [Math.round(x * 100) / 100, Math.round(y * 100) / 100]
    }

    var FormulaDiv = document.getElementById("FormulaDisplayDiv");

    var positionBoard = JXG.JSXGraph.initBoard('PositionBoard', { boundingbox: [minX, maxY, maxX, minY], axis: true, shownavigation: false, showCopyright: false});
    var velocityBoard = JXG.JSXGraph.initBoard('VelocityBoard', { boundingbox: [minX, maxY, maxX, minY], axis: true, shownavigation: false, showCopyright: false});

    var sliderBox = JXG.JSXGraph.initBoard('sliderBox', { boundingbox: [-(minY * (maxX - minX)), 5, minY * (maxX - minX), -5], axis: false, shownavigation: false, showCopyright: false, keepAspectRatio: true });
    var slider = sliderBox.create('slider', [[-(minY * (maxX - minX)), 0], [(minY * (maxX - minX)), 0], [(minY * (maxX - minX)), 0, -(minY * (maxX - minX))]], { ticks: { drawLabels: false, highlight: false }, color: "Blue" });

    velocityBoard.highlightInfobox = function (x, y, el) {
        velocityBoard.infobox.setText('(' + el.X().toFixed(2) + ', ' + el.Y().toFixed(2) + ')');
    };

    positionBoard.highlightInfobox = function (x, y, el) {
        positionBoard.infobox.setText('(' + el.X().toFixed(2) + ', ' + el.Y().toFixed(2) + ')');
    };

    var positionFunction = new CubicFunction(1 / 6, -1 / 2, 1 / 2, 0);
    var velocityFunction = positionFunction.derivate();

    positionBoard.create(
        'functiongraph',
        [function (x) { return positionFunction.evaluate(x); }],
        { strokeColor: "Blue" }
        );

    velocityBoard.create(
        'functiongraph',
        [function (x) { return velocityFunction.evaluate(x); }],
        { strokeColor: "Red" }
        );

    //  Create the points.
    var quadraticAxisPoint = velocityBoard.create('point', [0, 0], { size: 2, name: "", color: "Red" });
    var quadraticIntPoint = velocityBoard.create('point', [0, 0], { size: 2, name: "", color: "Red" });
    var quadraticSlopePoint = velocityBoard.create('point', [0, 0], { size: 2, name: "", color: "Red" });
    var cubicIntPoint = positionBoard.create('point', [0, 0], { size: 2, name: "", color: "Blue" });

    //  Initial setup
    updateUI();

    //  Add functionality to points.

    var intOldY = quadraticIntPoint.Y();
    quadraticIntPoint.on('mousedrag', function () {
        var offset = quadraticIntPoint.Y() - intOldY;
        quadraticIntPoint.moveTo([0, quadraticIntPoint.Y()]);
        velocityBoard.suspendUpdate();

        quadraticSlopePoint.moveTo([quadraticSlopePoint.X(), quadraticSlopePoint.Y() + offset]);
        quadraticAxisPoint.moveTo([quadraticAxisPoint.X(), quadraticAxisPoint.Y() + offset]);

        velocityBoard.unsuspendUpdate();
        intOldY = quadraticIntPoint.Y();
        axisOldY = quadraticAxisPoint.Y();
    });

    quadraticSlopePoint.on('mousedrag', function () {
        velocityBoard.suspendUpdate();

        quadraticSlopePoint.moveTo([quadraticSlopePoint.X(), quadraticIntPoint.Y()]);
        quadraticAxisPoint.moveTo([quadraticSlopePoint.X() / 2, quadraticAxisPoint.Y()]);

        velocityBoard.unsuspendUpdate();
        axisOldX = quadraticAxisPoint.X();
    });

    var axisOldX = quadraticAxisPoint.X();
    var axisOldY = quadraticAxisPoint.Y();
    quadraticAxisPoint.on('mousedrag', function () {
        var offset = quadraticAxisPoint.X() - axisOldX;
        velocityBoard.suspendUpdate();

        quadraticAxisPoint.moveTo([quadraticAxisPoint.X(), axisOldY])
        quadraticIntPoint.moveTo([0, velocityFunction.evaluate(-offset)]);
        quadraticSlopePoint.moveTo([quadraticAxisPoint.X() * 2, velocityFunction.evaluate(-offset)]);

        velocityBoard.unsuspendUpdate();
        axisOldX = quadraticAxisPoint.X();
        intOldY = quadraticIntPoint.Y();
    });

    cubicIntPoint.on("mousedrag", function () {
        cubicIntPoint.moveTo([0, cubicIntPoint.Y()]);
    });

    //  Update function
    function updateFunction() {
        var c = quadraticIntPoint.Y();
        var h = quadraticAxisPoint.X();
        var k = quadraticAxisPoint.Y();
        var m = quadraticSlopePoint.X();
        var n = quadraticSlopePoint.Y();

        velocityFunction.c = c;
        velocityFunction.b = (m * m * (k - c) + h * h * (c - n)) / (m * h * (m - h));
        velocityFunction.a = (n - c - m * velocityFunction.b) / (m * m);
        positionFunction = velocityFunction.integrate(cubicIntPoint.Y());
        updatenumbertext();
        updateUI();
    }
    //Update number
    function updatenumbertext() {
        numberField.value = positionFunction.a;
        numberField1.value = positionFunction.b;
        numberField2.value = velocityFunction.c;
        numberField3.value = positionFunction.d;

    }

    //  Update UI
    function updateUI() {
        updateGraph();
        FormulaDiv.innerHTML = positionFunction.ToString();
    }

    function updateGraph() {
        var axisX = -velocityFunction.b / (2 * velocityFunction.a);
        var axisY = velocityFunction.evaluate(axisX);

        positionBoard.suspendUpdate();
        velocityBoard.suspendUpdate();

        cubicIntPoint.moveTo([0, positionFunction.d]);
        quadraticIntPoint.moveTo([0, velocityFunction.c]);
        quadraticAxisPoint.moveTo([axisX, axisY]);
        quadraticSlopePoint.moveTo([axisX * 2, velocityFunction.c]);

        velocityBoard.unsuspendUpdate();
        velocityBoard.fullUpdate();
        positionBoard.unsuspendUpdate();
        positionBoard.fullUpdate();
    }

    updateFunction();

    positionBoard.on('update', updateFunction);
    velocityBoard.on('update', updateFunction);
</script>
